cuda:
  machineType: g4dn.xlarge
  machineImage: gross-cuda-nvidia-ghrunner-23090-amd64
  bootDiskSizeInGB: 100
  bootDiskType: gp2
opencl:
  machineType: t2.micro
  machineImage: gross-cuda-nvidia-ghrunner-23090-amd64
  bootDiskSizeInGB: 100
  bootDiskType: gp2